*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.scoreAndTime {
  font-size: 20px;
}

#scorePosition{
position:relative;

}

#timer {
position: relative;
left: 70vw;
margin-right: 100px;

}