*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.scoreAndTime {
  font-size: 20px;
}

#scorePosition{
position:relative;

}

#timer {
position: relative;
left: 70vw;
margin-right: 100px;

}
#questions {
  text-align: center;
}

h1 {
  text-align: center;
}
form {
  position: absolute;
  right: 50vw;
}

#possibleAnswers {
  list-style: none;
 
}
#centerBtn {
  text-align: center;
}

form{
  display:list-item;
}

h4 {
  font-style: italic;
  font-weight: lighter;
  position:relative;
  left: 42vw;
  top: 7vh;
  font-size: large;
  opacity: 70%;
  
}